<p id="notice"><%= notice %></p>

<h1>Insights</h1>

<table>
  <thead>
    <tr>
      <th>Q1</th>
      <th>Q2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insights.each do |insight| %>
      <tr>
        <td><%= insight.q1 %></td>
        <td><%= insight.q2 %></td>
        <td><%= link_to 'Show', insight %></td>
        <td><%= link_to 'Edit', edit_insight_path(insight) %></td>
        <td><%= link_to 'Destroy', insight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insight', new_insight_path %>
