<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @insight.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @insight.q2 %>
</p>

<%= link_to 'Edit', edit_insight_path(@insight) %> |
<%= link_to 'Back', insights_path %>
